body{
    background-color: rgb(36, 36, 36);
    
}

.game-table-field-card{
    background-attachment: fixed;
    background-color: rgb(104, 104, 104);
}

.game-table-field-card:hover{
    background-color: rgb(173, 173, 173);
}

.game-table-field-text{
    font-family: sans-serif;
}

.game-table-side{
    background-color: rgb(40, 40, 40)
}

