body{
    margin: 0.5%;
    background: radial-gradient(rgb(34, 34, 34), rgb(40, 40, 40));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.game-table-field-card{
    background-attachment: fixed;
    border-style: groove;
    background-color: rgb(104, 104, 104);
}

.game-table-field-card:hover{
    background-color: rgb(173, 173, 173);
    border-style: ridge;
}

.game-table-field-text{
    font-family: sans-serif;
}

.game-table-side{
    background-color: rgb(40, 40, 40)
}

